.project

# Ignore all the bits in bower_components that don't need to be loaded in by github pages.
bower_components/bootstrap/.bower.json
bower_components/bootstrap/CHANGELOG.md
bower_components/bootstrap/Gruntfile.js
bower_components/bootstrap/LICENSE
bower_components/bootstrap/README.md
bower_components/bootstrap/bower.json
bower_components/bootstrap/fonts/
bower_components/bootstrap/grunt/
bower_components/bootstrap/js/
bower_components/bootstrap/less/
bower_components/bootstrap/nuget/
bower_components/bootstrap/package.js
bower_components/bootstrap/package.json
bower_components/jquery/.bower.json
bower_components/jquery/MIT-LICENSE.txt
bower_components/jquery/bower.json
bower_components/jquery/src/
